:root{
    --primary:#711db0;
    --secondary: #da0c81;
}


body{
    font-family: "Nunito Sans", serif;
    font-size: 16px;
    color: black;
}

img{
    max-width: 100%;
    height: auto;
}

section , header , footer {
    max-width: 3000px;
    width: 100%;
    margin: 0rem auto;
}

a{
    color: black;
}

header{
    position: fixed;
    left: 50%;
    transform: translateX(-50%);
    width: 95%;
    top: 30px;
    max-width: 2000px;
    border-radius: 70px;
    background-color: white;
    z-index: 10;
}

.nav-options{
    list-style: none;
    display: flex;
    padding: 0rem;
    margin: 0rem;
    gap: 50px;
}

.logo-nav-appointment{
    display: flex;
    height: 90px;
    justify-content: space-between;
    align-items: center;
}

.header-btn{
    max-width: 182px;
    width: 30%;
    display: grid;
    place-content: center;
    height: 50px;
    border-radius: 10px;
    background-color: var(--primary);
    font-size: 16px;
    font-weight: 800;
    line-height: 26px;
    color: white;
    text-decoration: none;
    border: background-color 1px solid transparent;
    transition:  0.4s ease ;
}

.header-btn:hover{
    color: black;
    background-color: white;
    border: 1px solid var(--primary);
}

.home-banner-sec{
    height: 1000px;
    max-height: 967px;
    background: url("../src/assets/home/banner-and-header/home-banner.png");
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    position: relative;
}

.home-banner-cont-card{
    position: absolute;
    top: 50%;
    width: 40%;
    transform: translateY(-50%);
    color: white;
}

.home-banner-cont-card > span{
    font-size: 24px;
    font-weight: 800;
    line-height: 44px;
}

.home-banner-cont-card > span > span{
    color: #ffa33c;
}

.home-banner-main-tit{
    font-family: "Nunito", serif;
    font-size: 58px;
    font-weight: 900;
    line-height: 86px;
}

.home-banner-main-tit b{
    color: var(--secondary);
}

.make-appointment-btn{
    width: 236px;
    height: 54px;
    display: grid;
    place-content: center;
    border-radius: 10px;
    background-color: var(--primary);
    font-size: 16px;
    font-weight: 800;
    line-height: 26px;
    padding: 1rem 2rem 1rem 1rem;
    color: white;
    text-decoration: none;
    border: background-color 1px solid transparent;
    transition:  0.4s ease ;
    position: relative;
}

.make-appointment-btn:hover{
    color: black;
    background-color: white;
    border: 1px solid var(--primary);
}

.Call-Us-btn{
    width: 145px;
    height: 54px;
    display: grid;
    place-content: center;
    border-radius: 10px;
    background-color: var(--secondary);
    font-size: 16px;
    font-weight: 800;
    line-height: 26px;
    padding: 1rem 2rem 1rem 1rem;
    color: white;
    text-decoration: none;
    border: background-color 1px solid transparent;
    transition:  0.4s ease ;
    position: relative;
}

.make-appointment-btn::before{
  background: url("./src/assets/home/banner-and-header/make-appointment.svg");
  right: 20px;
  top: 50%;
  transform: translateY(-50%);
}

.Call-Us-btn::before{
    background: url("./src/assets/home/banner-and-header/Call-Us.svg");
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.Call-Us-btn:hover{
    color: black;
    background-color: white;
    border: 1px solid var(--primary);
}

.Appointment-nd-contact-btn{
    display: flex;
    gap: 20px;
    margin-top: 20px;
}

.abt-us-sec-check-box{
    display: flex;
    flex-wrap: wrap;
    list-style: none;
    margin: 0rem;
    padding: 0rem;
    font-size: 16px;
    font-weight: 800;
    line-height: 26px;
}

.abt-us-sec-check-box li{
    position: relative;
    padding: 0rem 0rem 0rem 2rem;
    margin-bottom: 20px;
}

.abt-us-sec-check-box li::before{
    content: "";
    position: absolute;
    width: 20px;
    height: 20px;
    background: url("../src/assets/home/about-us/abt-li-checks.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: contain;
    left: 0px;
    top: 50%;
    transform: translateY(-50%);
}

.about-us-sec{
    padding: 100px 0px;
    background: url("../src/assets/home/about-us/about-us-sec-bg.svg");
    background-repeat: no-repeat;
    background-size: 536px 536px;
    background-position: 110% 0px;
}

.abt-us-mini-tit{
    font-size: 24px;
    font-weight: 800;
    line-height: 44px;
    padding: 0rem 0rem 0rem 2.5rem;
    position: relative;
}

.abt-us-mini-tit::before{
    background: url("../src/assets/home/about-us/about-us-mini-tit-img.svg");
    left: 0px;
}

.abt-us-main-tit{
    font-family: "Nunito", serif;
    font-size: 50px;
    font-weight: 800;
    line-height: 65px;
}

.abt-us-main-tit > b{
    color: var(--secondary);
}

.subscribe-newsletter-tit > b{
    color: var(--secondary);
}

.about-us-sec-main-img{
    margin: 2rem;
}

.about-us-sec-contant-home{
    display: flex;
    flex-direction: column;
    gap: 30px;
    padding: 2em;
}

.abt-us-sec-check-box > li{
    flex-basis: 50%;
    flex-shrink: 0;
}

.abt-us-read-more-btn{
    display: grid;
    place-content: center;
    background-color: var(--primary);
    width: 172px;
    height: 54px;
    border-radius: 10px;
    color: white;
    font-family: "Nunito", serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 26px;
    padding: 1rem 2rem 1rem 1rem ;
    text-decoration: none;
    transition: background-color 0.4s ease ;
    border: 1px solid transparent;
    position: relative;
}

.abt-us-read-more-btn::before{
  background: url("../src/assets/home/banner-and-header/make-appointment.svg");
  right: 15px;
  top: 50%;
  transform: translateY(-50%);
}

.abt-us-read-more-btn:hover{
    background-color: white;
    border: 1px solid var(--primary);
    color: black;
}

.get-every-pet-foods-btn{
    position: relative;
    width: 169px;
    height: 54px;
    background-color: var(--secondary);
    border-radius: 10px;
    display: grid;
    place-content: center;
    padding: 1rem 2rem 1rem 1rem;
    color: white;
    text-decoration: none;
    font-size: 16px;
    font-weight: 800;
    line-height: 26px;
}

.get-every-pet-foods-btn::before{
    background: url("../src/assets/home/get-every-pet-foods/get-every-pet-foods-btn.svg");
    right: 15px ;
}

.before::before ,
.make-appointment-btn::before ,
.Call-Us-btn::before , 
.abt-us-read-more-btn::before,
.abt-us-mini-tit::before,
.get-every-pet-foods-btn::before{
    content: "";
    position: absolute;
    background-position: center;
    background-repeat: no-repeat;
    background-size: contain;
    width: 30px;
    height: 30px;
    top: 50%;
    transform: translateY(-50%);
}


.get-every-pet-foods-sec .container{
    max-width: 100%;
}

.get-every-pet-foods-sec .row>*{
    padding: 0rem;
}

.get-every-pet-foods-main-tit{
    font-size: 50px;
    font-weight: 800;
    line-height: 65px;
}

.get-every-pet-foods-main-tit > b{
   color: #ffa33c;
}

.get-every-pet-foods-cont{
    background-color: var(--primary);
    color: white;
    height: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 100px 138px;
    text-align: center;
    gap: 30px;
}

.get-every-pet-foods-img{
    height: 100%;
}

.get-every-pet-foods-img img{
    object-fit: cover;
    height: 100%;
    width: 100%;
}

.what-we-do-main-tit , .our-groomers-main-tit , .clients-feedback-main-tit , .blog-section-main-tit{
    position: relative;
    font-family: "Nunito", serif;
    font-size: 50px;
    font-weight: 800;
    line-height: 65px;
    font-size: 50px;
    font-weight: 800;
    line-height: 65px;
    text-align: center;
    color: black;
}

.blog-section-main-tit{
    text-align: left;
}

.what-we-do-tit-wraper , .our-groomers-tit-wraper , .clients-feedback-tit-wraper , .blog-section-tit-wraper{
    width: fit-content;
    margin: 0rem auto;
    padding-top: 3rem;
    text-align: center;
}

.blog-section-tit-wraper{
    max-width: 1300px;
    width: 70%;

}

.clients-feedback-tit-wraper{
    padding-bottom: 2rem;
}

.what-we-do-main-tit::before ,
 .our-groomers-main-tit::before ,
  .clients-feedback-main-tit::before ,
   .blog-section-main-tit::before{
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background: url("../src/assets/home/about-us/about-us-mini-tit-img.svg");
    left: 50%;
    transform: translateX(-50%);
    top: -50px;
}

.blog-section-main-tit::before{
    left: 0%;
}

.what-we-do-cards{
    text-align: center;
    background-color: #f1f1f1;
    padding: 15px;
    display: flex;
    flex-direction: column;
    border-radius: 20px;
    margin-top: 50px;
    position: relative;
}

.what-we-do-card-tit{
    margin: 20px auto 15px;
    font-family: "Nunito", serif;
    font-size: 28px;
    font-weight: 800;
    line-height: 48px;
}

.what-we-do-cards .abt-us-read-more-btn{
    margin: 0rem auto;
}

.what-we-do-main-tit b , .our-groomers-main-tit b , .clients-feedback-main-tit b  , .blog-section-main-tit b{
    color: var(--secondary);
}

.what-we-do-sec{
    padding: 100px 0rem;
    position: relative;
    z-index: 1;
}

.what-we-do-sec::after{
    width: 536px;
    height: 536px;
    background-image: url("../src/assets/home/what-we-do/what-we-do-bg2.svg");
    top: 0px;
    right: 0px;
}

.what-we-do-sec::before{
    width: 536px;
    height: 536px;
    background-image: url("../src/assets/home/what-we-do/what-we-do-bg1.svg");
    bottom: 0px;
}


.what-we-do-sec::before , .what-we-do-sec::after{
     content: "";
     position: absolute;
     background-repeat: no-repeat;
     background-size: cover;
     background-position: center;
}

.our-groomers-card{
    text-align: center;
    margin-top: 50px;
}

.our-groomers-card:hover .our-groomers-card-bg-img{
    filter: brightness(0) saturate(100%) invert(13%) sepia(89%) saturate(4494%) hue-rotate(273deg) brightness(83%) contrast(93%);
    transform: translate(-50% , -50%) rotate(30deg);
}

.person-positions , .groomers-names{
    margin: 30px 0px;
    display: block;
}

.person-positions{
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
    color: var(--secondary);
    margin: 40px 0px 30px;
}

.groomers-names{
    font-family: "Nunito", serif;
    font-size: 38px;
    font-weight: 800;
    line-height: 58px;
    margin: 30px 0px 30px;
}

.our-groomers-sec{
    padding: 100px 0px;
    background-color: #f1f1f1;
}

.our-groomers-card-main-img{
    position: relative;
    height: auto;
    width: 100%;
    height: auto;
}

.our-groomers-card-bg-img{
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50% , -50%) rotate(0deg);
    width: 120%;
    height: 120%;
    border-radius: 50%;
    z-index: 1;
    transition: transform 1s ease;
}

.groomers-social-profiles{
    display: flex;
    gap: 20px;
    margin: 0rem auto;
    justify-content: center;
}

.clients-feedback-sec{
    padding: 4rem 0rem;
    background: url("../src/assets/home/clients-feedback/clients-feedback-bet-foot.svg");
    background-repeat: no-repeat;
    left: 0px;
    top: 0px;
}

.swiper-slide{
    height: 695px;
}

.swiper-Slide-card{
    height: 695px;
    width: 100%;
    background:url("../src/assets/home/clients-feedback/Clients-Feedback-bg-people.svg") ;
    background-repeat: no-repeat;
    background-position: center;
    display: grid;
    place-content: center;
}

.swiper-custom-container{
    max-height: 695px;
    overflow: visible;
    background:url("../src/assets/home/clients-feedback/Clients-Feedback-bg.svg") ;
}

.swiper-Slide-inner-card{
    width: 100%;
    max-width:  492px;
    height: 226px;
    box-shadow: 0px 6px 30px 0px rgba(45, 44, 85, 0.1);
    border-radius: 20px;
    text-align: center;
    position: relative;
    padding: 3rem 3rem 0rem ;
    background: url("../src/assets/home/clients-feedback/Subtract.svg");
    background-repeat: no-repeat;
    background-position: center;
    background-size: 130% 130%;
}

.swiper-Slide-inner-card::before{
    content: "";
    position: absolute;
    width: 43px;
    height: 43px;
    background: url("../src/assets/home/clients-feedback/swiper-quotes.svg");
    left: 20px;
    top: 20px;
}

.swiper-Slide-inner-img{
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    top: -80px;
    border-radius: 50%;
}

.swiper-Slide-tit{
    font-family: "Nunito", serif;
    font-size: 28px;
    font-weight: 800;
    line-height: 48px;
}

.swiper-backface-hidden .swiper-slide{
    max-width: 100% !important;
}

.swiper-pagination{
    position: absolute;
    bottom: 0px !important;
}

.swiper-pagination-clickable .swiper-pagination-bullet{
    width: 25px;
    height: 25px;
    background-color: var(--primary) !important;
}

.subscribe-newsletter-tit{
    font-family: "Nunito", serif;
    font-size: 50px;
    font-weight: 800;
    line-height: 65px;
}

.subscribe-newsletter-tit-wraper{
    width: 70%;
    margin: 0rem auto;
    text-align: center;
}

.subscribe-newsletter-sec{
    background: url("../src/assets/home/subscribe-newsletter/Subscribe-Newsletter.png");
    max-height: 442px;
    height: 442px;
    display: grid;
    place-content: center;
    color: white;
}

.subscribe-newsletter-input{
    max-width: 640px;
    width: 100%;
    margin: 30px auto;
    position: relative;
}

.subscribe-newsletter-input input{
    width: 100%;
    height: 72px;
    border-radius: 10px;
    outline: none;
    border: none;
    display: block;
    padding: 0rem 5rem;
    font-size: 24px;
    font-weight: 400;
    line-height: 34px;
}

.subscribe-newsletter-mail{
    position: absolute;
    width: 34px;
    height: 34px;
    left: 20px;
    top: 50%;
    transform: translateY(-50%);
    z-index: 10;
}

.subscribe-newsletter-btn{
    width: 165px;
    position: absolute;
    right: 5px;
    height: 90%;
    top: 50%;
    transform: translateY(-50%);
    border-radius: 10px;
    border: none;
    padding: 1rem 3rem 1rem 1rem;
    font-family: "Nunito", serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 26px;
    background-color: var(--primary);
    color: white;
}

.subscribe-newsletter-btn:hover{
    background-color: var(--primary);
    color: white;
}

.subscribe-newsletter-btn::before{
    content: "";
    position: absolute;
    width: 30px;
    height: 30px;
    background: url("../src/assets/home/subscribe-newsletter/Subscribe-Newsletter-btn.svg");
    background-position: center;
    background-size: contain;
    right: 20px;
    top: 50%;
    transform: translateY(-50%);
}

.blog-section-home {
    padding: 4rem 0rem;
}

.blog-section-home .swiper-backface-hidden .swiper-slide{
    /* background-color: #ffa33c !important; */
    width: 410px !important;
}

.blog-section-home .swiper-wrapper{
    height: 523px;
}

.blog-swiper-card{
    background-color: #f1f1f1;
    padding: 20px;
    /* height: 523px; */
    border-radius: 20px;
}

.blog-swiper-card-tit{
    font-family: "Nunito", serif;
    font-size: 28px;
    font-weight: 800;
    line-height: 48px;
    margin: 20px 0px;
}

.admin-nd-pet-care{
    margin: 20px 0px;
    display: flex;
    /* justify-content: space-evenly; */
    color: #000000;
}

.blog-swiper-card-read-more-btn{
    font-family: "Nunito", serif;
    font-size: 16px;
    margin: 20px 0px;
    font-weight: 800;
    line-height: 26px;
    color: var(--primary);
    display: block;
    text-decoration: none;
    position: relative;
}

.admin , .span-pet-care{
    position: relative;
    padding: 0px 30px;
}

.span-pet-care{
    border-left: 2px solid rgba(71, 71, 71, 1);
    padding: 0px 50px;
}

.admin::before{
    background: url("../src/assets/blog/Person.svg");

}

.admin::before , .span-pet-care::before{
    content: "";
    position: absolute;
    left: 0px;
    width: 24px;
    height: 24px;
    background-repeat: no-repeat;
    background-size: contain;
    background-position: center;
}

.span-pet-care::before{
    background: url("../src/assets/blog/Tag.svg");
    left: 10px;
}

.blog-swiper-card-read-more-btn::before , .blog-swiper-card-read-more-btn::after{
    content: "";
    position: absolute;
    background-repeat: no-repeat;
    background-size: contain;
    background-size: contain;
    top: 50%;
    transform: translateY(-50%);
}

.blog-swiper-card-read-more-btn::before{
    background: url("../src/assets/blog/blog-line-img.svg");
    width: 60%;
    height: 2px;
    right: 60px;
}

.blog-swiper-card-read-more-btn::after{
    background: url("../src/assets/blog/arrow-right.svg");
    width: 15px;
    height: 15px;
    right: 30px;
}

.footer-logo-ng-copy-rights-wrap{
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 100px;
    border-bottom: 1px solid #ffffff;
    padding-bottom: 30px;
}

.copy-rights{
    width: 35%;
}

.terms-conditions{
    display: flex;
    list-style: none;
    column-gap: 80px;
    flex-wrap: wrap;
    justify-content: center;
    padding: 30px 0px;
    border-bottom: 1px solid white;
    width: 85%;
    margin: 0rem auto;
}

.footer-contact-detail{
    list-style: none;
    display: flex;
    align-items: center;
    gap: 30px;
    padding: 0rem;
}

.footer-contact-detail > li{
    display: flex;
    align-items: center;
    gap: 15px;
    margin: 30px 0px;
}

.footer-contact-cont span{
    color: #ffa33c;
    font-size: 8px;
    font-weight: 700;
    line-height: 10px;
}

.footer-contact-name{
    font-family: "Nunito", serif;
    font-size: 16px;
    font-weight: 800;
    line-height: 26px;
    text-align: left;
}

.contact-cont-and-social-media-links{
   display: flex;
   justify-content: space-between;
   align-items: center;
   width: 85%;
   margin: 0rem auto;
}

.social-media-links{
    display: flex;
    gap: 20px;
}

footer{
    background: url("../src/assets/home/footer/foter-bg.svg");
    padding: 6rem 0rem;
    background-repeat: no-repeat;
    background-position: bottom;
    background-size: cover;
    color: white;
    height: 438px;
}

